node_modules
yarn.lock
package-lock.json
app.json
public
renovate.json
package.json
tsconfig.json
assets
LICENSE.md
README.md
.expo
.expo-shared
.github
.gitignore
.eslintrc
.eslintignore
.env.*
.babelrc
.prettierrc
.prettierignore



